<div class = "container-fluid" style="background-image: linear-gradient(black, rgb(94, 94, 94));; height: 100%; width: 100%;">
        <div class = "row">
            <div class = "col-sm-4">
                    <app-nav-bar></app-nav-bar>
            </div>
            <div class = "col-sm-4">
                    <!-- RECOMMENDED SONGS COME HERE-->    
            </div>
        </div>
        <div class = "row">
            <footer class="border border-primary" class="w-100"><app-player-controls ></app-player-controls></footer>
        </div>
    </div>
    

